<div class="container">
    <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
                <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"</script>
        
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

        <title>Mongo Article Scraper</title>
    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Mongo Scraper</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/saved">Saved Articles</a></li>
                    <li><button type="button" class="btn btn-primary" id="scrape">Scrape Articles</button></li>
                </ul>
            </div>
        </div>
    </nav>
    {{{ body }}}

        
        <script src="/assets/js/app.js"></script>
    </body>
</html>